* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-content {
    flex-grow: 1;
    position: relative;
    overflow: auto;
    background-color: black;
}

img {
    width: 100%;
    display: block;
}

/* app content */

.app-content-button {
    position: absolute;
    top: 10px;
    right: 3px;
    color: white;
}

.app-content-button span {
    background-color: #4A4A4A;
    margin: 0 5px;
    line-height: 1.5em;
    padding: 6px 6px;
    border-radius: 5px;
}

.container {
    width: 1400px;
    margin: 0 auto;
    padding-top: 50px;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.user {
    flex-basis: calc(100% / 7 );
    position: relative;
}

.user-label {
    position: absolute;
    left: 0;
    bottom: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    line-height: 1.5em;
    padding: 0 3px;
    font-size: 16px;
}

/* navbar */

.navbar {
    
    background-color: #222222;
}

.navbar-row {
    display: flex;
    justify-content: space-between;
}

.navbar-section {
    display: flex;
}

.navbar-clickable {
    cursor: pointer;
    color: white;
}

.red {
    color: red;
}