* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-content {
    flex-grow: 1;
    position: relative;
}

/* app content */

.app-content-button {
    position: absolute;
    top: 3px;
    right: 3px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

/* navbar */

.navbar {
    min-height: 50px;
    background-color: #222222;
}